<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.notes.mapper.AmosNsNcertificateInfoMapper">

  <resultMap id="BaseResultMap" type="com.example.notes.entity.AmosNsNcertificateInfo">
    <id column="ID" property="id"/>  
    <result column="SERIALSNUM" property="serialsnum"/>  
    <result column="APPLICAT" property="applicat"/>  
    <result column="AREA_ADMINISTRATION" property="areaAdministration"/>  
    <result column="APPLICAT_DATE" property="applicatDate"/>  
    <result column="LEGAL_PERSONS" property="legalPersons"/>  
    <result column="APPLICAT_CONTACT" property="applicatContact"/>  
    <result column="APPLICAT_MOBILE" property="applicatMobile"/>  
    <result column="APPLICAT_PHONE" property="applicatPhone"/>  
    <result column="APPLICAT_FAX" property="applicatFax"/>  
    <result column="APPLICAT_POSTCODE" property="applicatPostcode"/>  
    <result column="REGNUM" property="regnum"/>  
    <result column="REGNUM_NUM" property="regnumNum"/>  
    <result column="AIRCRAFT_CATEGORY" property="aircraftCategory"/>  
    <result column="AIRCRAFT_MANUFACTURER" property="aircraftManufacturer"/>  
    <result column="AIRCRAFT_TYPE" property="aircraftType"/>  
    <result column="AIRCRAFT_NUMBER" property="aircraftNumber"/>  
    <result column="MANUFACTURE_DATE" property="manufactureDate"/>  
    <result column="INKJET" property="inkjet"/>  
    <result column="APPLICAT_TYPE" property="applicatType"/>  
    <result column="AIRCRAFT_OWNER" property="aircraftOwner"/>  
    <result column="AIRCRAFT_OWNER_ADDRESS" property="aircraftOwnerAddress"/>  
    <result column="AIRCRAFT_HOLDER" property="aircraftHolder"/>  
    <result column="AIRCRAFT_HOLDER_ADDRESS" property="aircraftHolderAddress"/>  
    <result column="APPLICAT_ENG" property="applicatEng"/>  
    <result column="APPLICAT_ENG_ADDRESS" property="applicatEngAddress"/>  
    <result column="APPLICAT_ISSIGN_CHINA" property="applicatIssignChina"/>  
    <result column="APPLICAT_ISNOTSIGN_CHINA" property="applicatIsnotsignChina"/>  
    <result column="APPLICAT_NUM_CHINA" property="applicatNumChina"/>  
    <result column="APPLICAT_ISSIGN_FOREIGN" property="applicatIssignForeign"/>  
    <result column="APPLICAT_ISNOTSIGN_FOREIGN" property="applicatIsnotsignForeign"/>  
    <result column="APPLICAT_NUM_FOREIGN" property="applicatNumForeign"/>  
    <result column="ISSPECIAL" property="isspecial"/>  
    <result column="REASONS" property="reasons"/>  
    <result column="MISS_FILE_INFO" property="missFileInfo"/>  
    <result column="APPLICATION_SIGNATORY" property="applicationSignatory"/>  
    <result column="SIGNATORY_DUTY" property="signatoryDuty"/>  
    <result column="SIGNATURE_DATE" property="signatureDate"/>  
    <result column="AIRCRAFT_ISIMPORT" property="aircraftIsimport"/>  
    <result column="AIRCRAFT_ISNEW" property="aircraftIsnew"/>  
    <result column="AIRCRAFT_FROM" property="aircraftFrom"/>  
    <result column="AIRCRAFT_FROM_OTHER" property="aircraftFromOther"/>  
    <result column="AIRCRAFT_PLAN" property="aircraftPlan"/>  
    <result column="AIRCRAFT_DIY" property="aircraftDiy"/>  
    <result column="AIRCRAFT_DELIVERY_ADDRESS" property="aircraftDeliveryAddress"/>  
    <result column="AIRCRAFT_MAX_WEIGHT" property="aircraftMaxWeight"/>  
    <result column="AIRCRAFT_MAX_LOAD" property="aircraftMaxLoad"/>  
    <result column="AIRCRAFT_SEAT_SIZE" property="aircraftSeatSize"/>  
    <result column="ENGINE_MODEL" property="engineModel"/>  
    <result column="ENGINE_CREATEUSER" property="engineCreateuser"/>  
    <result column="ENGINE_NUM" property="engineNum"/>  
    <result column="PROPELLER_MODEL" property="propellerModel"/>  
    <result column="PROPELLER_CREATEUSER" property="propellerCreateuser"/>  
    <result column="PROPELLER_NUM" property="propellerNum"/>  
    <result column="APPLICAT_USE" property="applicatUse"/>  
    <result column="MISS_FILE" property="missFile"/>  
    <result column="APPLICAT_ADDRESS" property="applicatAddress"/>  
    <result column="REMARKS" property="remarks"/>  
    <result column="STATEMENT" property="statement"/>  
    <result column="APPLICAT_STATUS" property="applicatStatus"/>  
    <result column="ACCEPTANCE_NUM" property="acceptanceNum"/>  
    <result column="AUTHORIZATION_NUM" property="authorizationNum"/>  
    <result column="FINISH_TIME" property="finishTime"/>  
    <result column="RUMMAGER" property="rummager"/>  
    <result column="AUTHORIZATION" property="authorization"/>  
    <result column="AUTHORIZATION_DATE" property="authorizationDate"/>  
    <result column="ACCEPTANCE_DATE" property="acceptanceDate"/>  
    <result column="CREATE_USER" property="createUser"/>  
    <result column="CREATE_DATE" property="createDate"/>  
    <result column="ISSUER" property="issuer"/>  
    <result column="ISSUING_DATE" property="issuingDate"/>  
    <result column="NC_NUM" property="ncNum"/>  
    <result column="SIGNATORY_TYPE" property="signatoryType"/>  
    <result column="AIRCRAFT_DELIVERY_ADDRESS_TYPE" property="aircraftDeliveryAddressType"/>  
    <result column="CHECK_RESULT" property="checkResult"/>  
    <result column="FOLDER_ID" property="folderId"/>  
    <result column="CREATE_DEPT" property="createDept"/>  
    <result column="AREA_ADMINISTRATION_ID" property="areaAdministrationId"/>  
    <result column="LAST_NODE" property="lastNode"/>  
    <result column="LASE_NODE_ASSIGN" property="laseNodeAssign"/>  
    <result column="APPLICAT_FILE" property="applicatFile"/>  
    <result column="ACCEPTANCE_FILE" property="acceptanceFile"/>  
    <result column="AUTHORIZATION_FILE" property="authorizationFile"/>  
    <result column="NC_FILE" property="ncFile"/>  
    <result column="NC_BACK_FILE" property="ncBackFile"/> 
  </resultMap>
</mapper>
