<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.notes.mapper.AmosNsNcertificateFileMapper">
  <resultMap id="BaseResultMap" type="com.example.notes.entity.AmosNsNcertificateFile">
    <id column="ID" property="id"/>  
    <result column="BUSINESSID" property="businessid"/>  
    <result column="TABLENAME" property="tablename"/>  
    <result column="FILE_STATUS" property="fileStatus"/>  
    <result column="FILE_NAME" property="fileName"/>  
    <result column="FILE_PATH" property="filePath"/>  
    <result column="UPLOADDATE" property="uploaddate"/>  
    <result column="UPLOADUSER" property="uploaduser"/>  
    <result column="ISAUDIT" property="isaudit"/>  
    <result column="FILE_TYPE_ID" property="fileTypeId"/>  
    <result column="FILE_TYPE_NAME" property="fileTypeName"/>  
    <result column="REJECTS_REMARKS" property="rejectsRemarks"/> 
  </resultMap>
  <select id="NSNationality_certificateFirstFormJxdIns44List" resultType="com.example.notes.entity.AmosNsNcertificateFile">SELECT
    <include refid="Base_Column_List"/> FROM AMOS_NS_NCERTIFICATE_FILE T1 
    <trim prefix="where 1 = 1"> 
      <if test="null != query"> 
        <if test="'' != query.BUSINESSIDjxd_ins_30 and null != query.BUSINESSIDjxd_ins_30">and T1.BUSINESSID = #{query.BUSINESSIDjxd_ins_30}</if> 
      </if> 
    </trim> order by FILE_TYPE_ID,UPLOADDATE
  </select>
  <sql id="Base_Column_List">ID AS id, BUSINESSID AS businessid, TABLENAME AS tablename, FILE_STATUS AS fileStatus, FILE_NAME AS fileName, FILE_PATH AS filePath, UPLOADDATE AS uploaddate, UPLOADUSER AS uploaduser, ISAUDIT AS isaudit, FILE_TYPE_ID AS fileTypeId, FILE_TYPE_NAME AS fileTypeName, REJECTS_REMARKS AS rejectsRemarks</sql>
</mapper>
